<script>
	// @ts-nocheck
	import { onMount } from 'svelte';
	import * as THREE from 'three';

  import { OBJLoader } from 'three/examples/jsm/loaders/OBJLoader.js';
  import { GLTFLoader } from 'three/examples/jsm/loaders/GLTFLoader'

  import { OrbitControls } from 'three/examples/jsm/controls/OrbitControls.js';

	let x = 0;
	let y = 0;
	let z = 0;

	onMount(async () => {

		console.log("MANA", THREE.TextureLoader)
		
		const loader = new OBJLoader();
    const loader_gltf = new GLTFLoader();

		const scene = new THREE.Scene();
		const camera = new THREE.PerspectiveCamera(
			75,
			window.innerWidth / window.innerHeight,
			0.1,
			1000
		);

		// loader.load(
		// 	"/fish.obj",
		// 	function (gltf) {
		// 		console.log('LOADED', gltf);
    //     scene.add(gltf)
		// 	},
		// 	undefined,
		// 	function (error) {
		// 		console.error('INI', error);
		// 	}
		// );

		const texture = new THREE.TextureLoader().load('/8k_mercury.jpg');

		// Buatin bola
		const geometry = new THREE.SphereGeometry(5, 32, 32);
		const material = new THREE.MeshBasicMaterial({ map: texture });
		const sphere = new THREE.Mesh(geometry, material);
		scene.add(sphere);

		
		// const geometry = new THREE.BoxGeometry(1, 1, 1);
		// const material = new THREE.MeshBasicMaterial({ color: 0x00ff00 });
		// const cube = new THREE.Mesh(geometry, material);
		// scene.add(cube);


    camera.position.z = 10;

    // Add light to the scene

    const light = new THREE.AmbientLight(0x404040, 5); // soft white light
    scene.add(light);

    const directionalLight = new THREE.DirectionalLight(0xffffff, 5);
    directionalLight.position.set(1, 1, 0);
    scene.add(directionalLight);

		const renderer = new THREE.WebGLRenderer();

    // Add Camera and orbit controls
    const controls = new OrbitControls(camera, renderer.domElement);
		// controls.dampingFactor = 0.05;
		// controls.screenSpacePanning = false;
		// controls.minDistance = 10;
		// controls.maxDistance = 20;
		// controls.maxPolarAngle = Math.PI / 2;


    
		renderer.setSize(window.innerWidth, window.innerHeight);
		document.body.appendChild(renderer.domElement);

		function animate() {
			requestAnimationFrame(animate);

			// sphere.rotation.x += x;
			sphere.rotation.y += y;
			// sphere.rotation.z += z;

			// randomize camera z position from 9 to 11
			// camera.position.z = Math.random() * 2 + 9;

			renderer.render(scene, camera);
		}
		animate();
	});
</script>

<div>start</div>

<div class="flex items-center gap-2">
	<div>X</div>
	<input type="range" min="0" max=".01" step="0.001" bind:value={x} />
</div>
<div class="flex items-center gap-2">
	<div>Y</div>
	<input type="range" min="0" max=".01" step="0.001" bind:value={y} />
</div>
<div class="flex items-center gap-2">
	<div>Z</div>
	<input type="range" min="0" max=".01" step="0.001" bind:value={z} />
</div>

<!-- <canvas id="three" /> -->
<div>end</div>
