<script lang="ts">
	import { page } from '$app/stores';
	import { _motion } from '$lib/animations';
	import Planets from '$lib/planets.json';
	import { onMount } from 'svelte';

	const { planets, details } = $page.params;

	let loaded = false;

	// @ts-ignore
	const currentPlanet = Planets[planets];

	const dataSurface = currentPlanet?.view_the_surface;
	const dataOcean = currentPlanet?.view_the_ocean;

	const url = $page.url.pathname;

	onMount(() => (loaded = true));
</script>

<svelte:head>
	<title>SONA | {currentPlanet?.name}</title>
</svelte:head>

<div class="bg-black">
	{#if loaded}
		<main
			class="w-screen h-screen relative"
			use:_motion={{
				keyframes: {
					opacity: [0, 1]
				},
				options: {
					duration: 1,
					easing: 'ease-in-out'
				}
			}}
		>
			{#if $page.url.pathname.includes('surface')}
				<img
					src={dataSurface?.image}
					class="w-screen object-cover absolute top-0 left-0 h-screen"
					alt="Surface"
					use:_motion={{
						keyframes: {
							opacity: [0, 1],
							scale: [1.2, 1]
						},
						options: {
							duration: 1,
							easing: 'ease-in-out'
						}
					}}
				/>

				<div class="absolute h-full left-0 z-[9999] transition-all duration-1000 flex">
					<div class="w-[40vw] h-full p-[2vw] text-[1.1vw]">
						<div
							class="bg-slate-900 bg-opacity-75 h-full flex flex-col rounded-3xl p-12 shadow-2xl border-4 border-slate-200 text-white"
						>
							<button
								class="flex items-center gap-2 underline underline-offset-2"
								on:click={() => window.history.back()}
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="16"
									height="8"
									viewBox="0 0 16 8"
									fill="none"
								>
									<path
										d="M0.646447 3.64645C0.451184 3.84171 0.451184 4.15829 0.646447 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646447 3.64645ZM10.3333 4C10.3333 5.47276 11.5272 6.66667 13 6.66667C14.4728 6.66667 15.6667 5.47276 15.6667 4C15.6667 2.52724 14.4728 1.33333 13 1.33333C11.5272 1.33333 10.3333 2.52724 10.3333 4ZM1 4.5H13V3.5H1V4.5Z"
										fill="white"
									/>
								</svg>
								<span> Back </span>
							</button>
							<h1 class="text-[5vw] font-medium [line-height:1.5ch] mt-2">
								{currentPlanet?.name}'s Surface
							</h1>
							<div class="mt-8">
								{@html dataSurface?.formation ?? ''}
							</div>
						</div>
					</div>
				</div>
				{:else if $page.url.pathname.includes('ocean')}
				<img
					src={dataOcean?.image}
					class="w-screen object-cover absolute top-0 left-0 h-screen"
					alt="Surface"
					use:_motion={{
						keyframes: {
							opacity: [0, 1],
							scale: [1.2, 1]
						},
						options: {
							duration: 1,
							easing: 'ease-in-out'
						}
					}}
				/>

				<div class="absolute h-full left-0 z-[9999] transition-all duration-1000 flex">
					<div class="w-[40vw] h-full p-[2vw] text-[1.1vw]">
						<div
							class="bg-slate-900 bg-opacity-75 h-full flex flex-col rounded-3xl p-12 shadow-2xl border-4 border-slate-200 text-white"
						>
							<button
								class="flex items-center gap-2 underline underline-offset-2"
								on:click={() => window.history.back()}
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="16"
									height="8"
									viewBox="0 0 16 8"
									fill="none"
								>
									<path
										d="M0.646447 3.64645C0.451184 3.84171 0.451184 4.15829 0.646447 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646447 3.64645ZM10.3333 4C10.3333 5.47276 11.5272 6.66667 13 6.66667C14.4728 6.66667 15.6667 5.47276 15.6667 4C15.6667 2.52724 14.4728 1.33333 13 1.33333C11.5272 1.33333 10.3333 2.52724 10.3333 4ZM1 4.5H13V3.5H1V4.5Z"
										fill="white"
									/>
								</svg>
								<span> Back </span>
							</button>
							<h1 class="text-[5vw] font-medium [line-height:1.5ch] mt-2">
								{currentPlanet?.name}'s Ocean
							</h1>
							<div class="mt-8">
								{@html dataOcean?.formation ?? ''}
							</div>
						</div>
					</div>
				</div>
			{/if}
		</main>
	{/if}
</div>
