<script>
	import '../app.postcss';
	import '../app.css';
	import { onMount } from 'svelte';
	import { fade } from 'svelte/transition';
	import { quintOut } from 'svelte/easing';
	import Loading from '$lib/components/Loading.svelte';

	let loaded = false;
</script>

<div class="contents font-mono">
	<div class="bg-slate-900">
		<div in:fade={{ duration: 1000, easing: quintOut }}>
			<slot />
		</div>
	</div>
</div>
