<script lang="ts">
	import { goto } from '$app/navigation';
	import { _motion, typeWriter } from '$lib/animations';
	import Loading from '$lib/components/Loading.svelte';
	import { onMount } from 'svelte';
	import { fade } from 'svelte/transition';

	let loaded = false;
	let done = false;

	let isStarting = false;

	let start: () => void;

	setInterval(() => {
		dotCount = (dotCount + 1) % (3 + 1);
	}, 125);

	onMount(async () => {
		await new Promise((r) => setTimeout(r, 3000));

		start = async () => {
			isStarting = true;
			await new Promise((r) => setTimeout(r, 1000));

			goto('/explore?from=home');
		};

		loaded = true;
	});

	const MAX_DOT_COUNT = 3;
	let dotCount = 0;

	const interval = setInterval(() => {
		dotCount = (dotCount + 1) % (MAX_DOT_COUNT + 1);
	}, 125);
</script>

<svelte:head>
	<title>SONA | 4YOASOBI</title>
</svelte:head>

{#if !loaded}
	<!-- <Loading /> -->
	<div class="h-screen w-screen grid items-center text-center text-white fixed">
		<div class="flex flex-col gap-4">
			<div class="text-xl flex items-center justify-center">
				<span>Loading</span>
				{#each { length: MAX_DOT_COUNT } as _, index}
					<span style:opacity={dotCount - 1 > index ? '1' : '0'}>.</span>
				{/each}
			</div>
			<div>
				This experience is best viewed on desktop.
			</div>
		</div>
	</div>
{:else}
	<main
		on:click={() => {
			if (done) start();
		}}
		class="relative h-screen w-screen overflow-hidden transition-all duration-1000 transition-cubic-in"
		style:translate={isStarting ? '0 100%' : '0 0'}
		use:_motion={{
			keyframes: {
				opacity: [0, 1]
			},
			options: {
				duration: 0.1,
				easing: 'ease-in-out'
			}
		}}
	>
		<div
			class="z-30 absolute font-medium tracking-wider text-white left-1/2 -translate-x-[50%] -translate-y-[50%]"
			use:typeWriter={150}
			use:_motion={{
				keyframes: {
					top: ['50%', '4rem'],
					fontSize: ['6rem', '2rem']
				},
				options: {
					duration: 1,
					delay: 2,
					easing: 'ease-in-out'
				}
			}}
		>
			SONA
		</div>

		<div class="z-20 top-0 w-full absolute h-32 bg-gradient-to-b from-slate-900 to-transparent" />
		<div
			class="z-20 bottom-0 w-full absolute h-32 bg-gradient-to-t from-slate-900 to-transparent"
		/>

		<header
			class="absolute z-20 left-1/2 bg-opacity-75 backdrop-blur-sm border-4 border-slate-900 -translate-x-[50%] top-4 h-24 w-full max-w-sm rounded-full bg-slate-900"
		/>

		<!-- <div class="h-32 w-full bg-slate-900 relative z-20">

  </div> -->

		<div class="absolute left-[50%] top-[50%] z-30 -translate-x-[50%] -translate-y-[50%]">
			{#await new Promise((r) => setTimeout(r, 3000)) then r}
				<div
					use:typeWriter={100}
					class="text-[8rem] whitespace-nowrap text-white drop-shadow-2xl bg-slate-900 bg-opacity-10 px-4"
				>
					Start Venturing
				</div>
			{/await}
		</div>

		<div
			class="absolute left-[50%] top-[50%] z-30 -translate-x-[50%] -translate-y-[calc(50%-10rem)]"
		>
			{#await new Promise((r) => setTimeout(r, 5000)) then}
				{(() => {
					done = true;
					return '';
				})()}
				<div
					use:typeWriter={15}
					class="text-xl whitespace-nowrap text-white drop-shadow-2xl bg-slate-900 bg-opacity-10 px-4"
				>
					press to start
					<!-- {#each { length: dotCount } as _}
            .
          {/each} -->
				</div>
			{/await}
		</div>

		<div class="relative">
			<!-- <div class="h-16 absolute top-0 z-10 w-full bg-gradient-to-b from-slate-900 to-transparent">

    </div> -->
			<img
				src="/images/start-screen.jpg"
				class="h-screen object-cover w-full"
				alt="Start"
				use:_motion={{
					keyframes: {
						opacity: [0, 0.9],
						scale: [1.2, 1],
						filter: ['blur(10px)', 'blur(0px)']
					},
					options: {
						duration: 1.25,
						easing: 'ease-in-out',
						delay: 2
					}
				}}
			/>
		</div>
	</main>
{/if}
