<script>
	// @ts-nocheck
	import { page } from '$app/stores';
	import Marker from '$lib/components/explore/Marker.svelte';

	import { onMount } from 'svelte';
	import { quintInOut, quintOut } from 'svelte/easing';
	import { tweened } from 'svelte/motion';
	import { fade } from 'svelte/transition';
	import * as THREE from 'three';

	import Planets from '$lib/planets.json';
	import Sun from '$lib/sun.json';

	import { goto } from '$app/navigation';
	const params_planet = $page.params.planets;

	const currentPlanet = Planets[params_planet];

	let loaded = false;

	const planetRotation = tweened(360, {
		duration: 3000,
		easing: quintInOut
	});

	const planetScale = tweened(1.5, {
		duration: 3000,
		easing: quintInOut
	});

	const planetPosX = tweened(2, {
		duration: 3000,
		easing: quintInOut
	});

	onMount(async () => {
		// const loader = new OBJLoader();
		// const loader_gltf = new GLTFLoader();

		const scene = new THREE.Scene();
		const camera = new THREE.PerspectiveCamera(
			75, //
			window.innerWidth / window.innerHeight, //
			0.1, //
			10 //
		);

		const texture = new THREE.TextureLoader().load(`/images/explore/planets/${params_planet}.jpg`);

		// Buatin bola
		const geometry = new THREE.SphereGeometry(5, 24, 24);
		const material = new THREE.MeshBasicMaterial({ map: texture });
		const sphere = new THREE.Mesh(geometry, material);

		// Make sphere colide with light
		sphere.castShadow = true;
		sphere.receiveShadow = true;

		scene.add(sphere);

		camera.position.z = 10;

		// Add light to the scene
		const directionalLight = new THREE.DirectionalLight(0xffffff, 5);
		directionalLight.position.set(0, 0, 2);
		directionalLight.castShadow = true;
		directionalLight.shadow.mapSize.width = 512; // default
		directionalLight.shadow.mapSize.height = 512; // default
		directionalLight.shadow.camera.near = 0.5; // default
		directionalLight.shadow.camera.far = 500;
		scene.add(directionalLight);

		// Add Background
		const spaceTexture = new THREE.TextureLoader().load('/images/explore/stars.jpg');
		scene.background = spaceTexture;

		const renderer = new THREE.WebGLRenderer();
		renderer.shadowMap.enabled = true;
		renderer.shadowMap.type = THREE.PCFSoftShadowMap;

		// Add Camera and orbit controls
		// const controls = new OrbitControls(camera, renderer.domElement);

		renderer.setSize(window.innerWidth, window.innerHeight);
		document.querySelector('#wrapper').appendChild(renderer.domElement);

		function animate() {
			requestAnimationFrame(animate);

			sphere.rotation.y = (Math.PI / 180) * $planetRotation;

			sphere.scale.x = $planetScale;
			sphere.scale.y = $planetScale;
			sphere.scale.z = $planetScale;

			sphere.position.x = $planetPosX;

			renderer.render(scene, camera);
		}
		animate();

		$planetScale = 1;
		$planetRotation = 270;
		$planetPosX = 0;

		loaded = true;
	});

	let exploring = false;

	const explore = async (to) => {
		exploring = true;
		$planetScale = 4;
		$planetRotation = 270;
		$planetPosX = 4;

		await new Promise((r) => setTimeout(r, 1500));
		goto(`/explore/${params_planet}/${to}?from=planets`);
	};
</script>

<svelte:head>
	<title>SONA | 4YOASOBI | {params_planet.toUpperCase()}</title>
</svelte:head>

<main
	class="h-screen w-screen overflow-hidden relative isolate bg-black"
	transition:fade={{ duration: 1000, easing: quintOut }}
>
	<div style:opacity={loaded ? '1' : '0'} class="transition-all duration-1000">
		<div id="wrapper" class="z-20 absolute" />

		<div class="absolute top-4 left-4 z-[999999]">
			<button
				class="flex items-center gap-2 underline underline-offset-2 text-white"
				on:click={() => window.history.back()}
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="16"
					height="8"
					viewBox="0 0 16 8"
					fill="none"
				>
					<path
						d="M0.646447 3.64645C0.451184 3.84171 0.451184 4.15829 0.646447 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646447 3.64645ZM10.3333 4C10.3333 5.47276 11.5272 6.66667 13 6.66667C14.4728 6.66667 15.6667 5.47276 15.6667 4C15.6667 2.52724 14.4728 1.33333 13 1.33333C11.5272 1.33333 10.3333 2.52724 10.3333 4ZM1 4.5H13V3.5H1V4.5Z"
						fill="white"
					/>
				</svg>
				<span>Back</span>
			</button>
		</div>

		<div
			class="absolute h-full w-full z-[9999] transition-all duration-1000"
			style:opacity={!exploring ? '1' : '0'}
		>
			{#if params_planet == 'sun'}
				<Marker on:click={() => explore('surface')} x={30} y={32}>Explore the Surface</Marker>
			{:else}
				<Marker on:click={() => explore('surface')} x={36} y={30}>Explore the Surface</Marker>

				{#if currentPlanet?.name?.toLowerCase() == 'earth'}
					<Marker on:click={() => explore('ocean')} left x={7} y={50}>Explore the Ocean</Marker>
				{/if}
			{/if}
		</div>

		<img
			src="/images/explore/stars.jpg"
			alt="Stars"
			class="rotate-180 absolute top-0 left-0 block w-screen scale-110 h-screen object-cover"
		/>

		<div
			class="absolute h-full right-0 z-[9999] transition-all duration-1000 flex"
			style:opacity={!exploring ? '1' : '0'}
		>
			<div class="w-[45vw] my-auto p-[2vw] text-[1.1vw]">
				<div
					class="bg-slate-900 bg-opacity-75 h-full rounded-3xl p-12 shadow-2xl border-4 border-slate-200 text-white"
				>
					<h1 class="text-[5vw] font-medium">
						{currentPlanet?.name}
					</h1>
					<!-- <p class="mt-4 text-justify">
						{currentPlanet.}
					</p> -->
					{#if params_planet != 'sun'}
						<div class="mt-4">
							<table>
								<tr>
									<td>Type</td>
									<td>:</td>
									<td>{currentPlanet?.type}</td>
								</tr>
								<tr>
									<td>Radius</td>
									<td>:</td>
									<td>{currentPlanet?.size}</td>
								</tr>
								<tr>
									<td>Mass</td>
									<td>:</td>
									<td>{currentPlanet?.mass}</td>
								</tr>
								<tr>
									<td>Orbital Period</td>
									<td>:</td>
									<td>{currentPlanet?.period}</td>
								</tr>
								<tr>
									<td>Moons</td>
									<td>:</td>
									<td>{currentPlanet?.moons == 0 ? 'None' : currentPlanet?.moons}</td>
								</tr>
								<tr>
									<td>Distance from Sun</td>
									<td>:</td>
									<td>{currentPlanet?.distance_sun}</td>
								</tr>
								<tr>
									<td>Surface Temperature</td>
									<td>:</td>
									<td>{currentPlanet?.temperature}</td>
								</tr>
							</table>
						</div>
					{:else}
						<div class="mt-8">
							{Sun.sun.short_desc}
						</div>
						<div class="mt-8">
							{@html Sun.sun.Overview}
						</div>
					{/if}
				</div>
			</div>
		</div>
	</div>
</main>

<style>
	#wrapper {
		translate: -20vw 0;
	}
	tr td:nth-child(2) {
		@apply px-4;
	}

	:global(body) {
		background-color: black !important;
	}
</style>
