<script>
	import { quintOut } from 'svelte/easing';
	import { fade } from 'svelte/transition';

	export let x = 0;
	export let y = 0;

	export let left = false;
</script>

<div
	transition:fade={{ duration: 3000, easing: quintOut }}
	class=" absolute text-white text-[1vw] drop-shadow-xl"
	style:transform={`translate(calc(${x}vw), calc(${y}vh))`}
>
	<a href="#" on:click|self class="text-2xl font-medium bg-opacity-10 px-2 bg-black relative">
		<slot />
		<div class="block absolute -bottom-1 h-1 bg-white w-full"  />
	</a>

	{#if left}
		<svg
			xmlns="http://www.w3.org/2000/svg"
			class="top-full right-0 translate-x-full absolute"
			style:translate="-4px -4px"
			width="41"
			height="42"
			viewBox="0 0 41 42"
			fill="none"
		>
			<path
				d="M22.7418 23.0261C18.5762 27.1917 18.5762 33.9454 22.7418 38.111C26.9074 42.2766 33.6612 42.2766 37.8267 38.111C41.9923 33.9454 41.9923 27.1917 37.8267 23.0261C33.6612 18.8605 26.9074 18.8605 22.7418 23.0261ZM0.585786 3.69848L28.8701 31.9828L31.6985 29.1543L3.41421 0.870058L0.585786 3.69848Z"
				fill="white"
			/>
		</svg>
	{:else}
		<svg
			xmlns="http://www.w3.org/2000/svg"
			class="top-full -translate-x-full absolute"
			width="42"
			height="41"
			viewBox="0 0 42 41"
			fill="none"
			style:translate="4px -4px"
		>
			<path
				d="M18.9653 22.4489C14.7997 18.2833 8.04596 18.2833 3.88036 22.4489C-0.285228 26.6145 -0.285228 33.3683 3.88036 37.5339C8.04596 41.6994 14.7997 41.6994 18.9653 37.5339C23.1309 33.3683 23.1309 26.6145 18.9653 22.4489ZM38.2929 0.292894L10.0086 28.5772L12.8371 31.4056L41.1213 3.12132L38.2929 0.292894Z"
				fill="white"
			/>
		</svg>
	{/if}
</div>

<style>
  /* * {
    box-sizing: border-box;
  } */
</style>