<script>
	import { goto } from '$app/navigation';
	import { page } from '$app/stores';
	import { _motion } from '$lib/animations';
	import { wait } from '$lib/utils';
	import * as motion from 'motion';
	import { onMount } from 'svelte';

	const center = {
		style: 'transform: translate(-50%, -50);'
	};

	onMount(async () => {
		if ($page.url.searchParams.get('from') == 'home') {
			motion.animate(
				'.stuffs',
				{
					transform: ['translate(0, 0)', 'translate(0, 200vh)']
				},
				{
					duration: 2,
					easing: 'ease-in-out'
				}
			);

			await wait(1000);

			motion.animate(
				'.planet',
				{
					transform: ['translate(0, 0vh)', 'translate(0, 50vh)'],
					scale: [1.1, 1],
					opacity: [0, 1]
				},
				{
					duration: 1,
					easing: 'ease-in-out',
					delay: motion.stagger(0.075)
				}
			);
		} else {
			motion.animate(
				'.stuffs',
				{
					transform: ['translate(0, 0)', 'translate(0, 200vh)']
				},
				{
					duration: 0,
					easing: 'ease-in-out'
				}
			);

			motion.animate(
				'.planet',
				{
					transform: ['translate(0, 100vh)', 'translate(0, 50vh)'],
					scale: [1.1, 1],
					opacity: [0, 1]
				},
				{
					duration: 1,
					easing: 'ease-in-out',
					delay: motion.stagger(0.075)
				}
			);
		}
	});

	const exploreTo = async (to = '') => {
		if (to == 'meteoroids') {
			motion.animate(
				'.stuffs',
				{
					transform: ['translate(0, 200vh)', 'translate(0, 0)']
				},
				{
					duration: 2,
					easing: 'ease-in-out'
				}
			);

			await wait(2000);
		} else {
			motion.animate(
				'#things',
				{
					opacity: [1, 0]
				},
				{
					duration: 1,
					easing: 'ease-out'
				}
			);

			await wait(1000);
		}

		goto(`/explore/${to}?from=explore`);
	};
</script>

<svelte:head>
	<title>SONA | 4YOASOBI</title>
</svelte:head>

<main class="h-screen w-screen overflow-hidden bg-black relative">
	<div class="h-screen w-screen bg-slate-900 stuffs" />
	<div
		class="h-screen w-screen from-slate-900 to-black bg-gradient-to-t stuffs"
		style:translate="0 -200vh"
	/>

	<div class="stuffs w-screen h-screen isolate relative" id="things" style:translate="0 -400vh ">
		<!-- <div class="bg-white p-6 absolute">
			<a href="/explore/Earth"> Press for earth </a>
		</div> -->

		<img
			src="/images/explore/asteroid.png"
			alt="Asteroid"
			class="mx-auto absolute inset-0 m-auto opacity-80 saturate-0"
			use:_motion={{
				keyframes: {
					transform: ['translate(0, 100vh)', 'translate(0, 0)']
				},
				options: {
					duration: 1.5,
					easing: 'ease-in-out'
				}
			}}
		/>

		<div class="planet drop-shadow-2xl">
			<button
				id="sun"
				on:click={() => exploreTo('sun')}
				class="absolute duration-100 transition-all hover:scale-105 z-[999] group"
				style:top="50%"
				style:left="50%"
				style:translate="-50% -50%"
			>
				<img src="/images/explore/sun.png" alt="Sun" />
				<div
					class="scale-0 absolute left-1/2 -translate-x-1/2 top-full translate-y-1 group-hover:scale-100 duration-150 origin-top transition-all"
				>
					<div
						class="bg-opacity-75 backdrop-blur-sm border-4 bg-slate-900 rounded-2xl border-slate-900 px-[2vw] py-[.5vw] text-white h-fit text-2xl"
					>
						SUN
					</div>
				</div>
			</button>
		</div>

		<div class="planet drop-shadow-2xl">
			<img
				src="/images/explore/ring-1.png"
				alt="Ring-1"
				class="absolute pointer-events-none"
				style:top="50%"
				style:left="50%"
				style:translate="-50% -50%"
			/>

			<button
				on:click={() => exploreTo('mercury')}
				id="mercury"
				class="absolute duration-100 transition-all hover:scale-105 z-[999] group"
				style:left="50%"
				style:translate="-50% -50%"
				style:transform="translate(180px, -70px)"
			>
				<img src="/images/explore/mercury.png" alt="Mercury" class="group-hover:scale-105" />
				<div
					class="scale-0 absolute left-1/2 -translate-x-1/2 top-full translate-y-1 group-hover:scale-100 duration-150 origin-top transition-all"
				>
					<div
						class="bg-opacity-75 backdrop-blur-sm border-4 bg-slate-900 rounded-2xl border-slate-900 px-[2vw] py-[.5vw] text-white h-fit text-2xl"
					>
						MERCURY
					</div>
				</div>
			</button>
		</div>

		<div class="planet drop-shadow-2xl">
			<img
				src="/images/explore/ring-2.png"
				alt="Ring-2"
				class="absolute pointer-events-none"
				style:left="50%"
				style:translate="-50% -50%"
			/>

			<button
				on:click={() => exploreTo('venus')}
				id="venus"
				class="absolute duration-100 transition-all hover:scale-105 z-[999] group"
				style:left="50%"
				style:translate="-50% -50%"
				style:transform="translate(-243px, 0px)"
			>
				<img src="/images/explore/venus.png" alt="venus" class="group-hover:scale-105" />
				<div
					class="scale-0 absolute left-1/2 -translate-x-1/2 top-full translate-y-1 group-hover:scale-100 duration-150 origin-top transition-all"
				>
					<div
						class="bg-opacity-75 backdrop-blur-sm border-4 bg-slate-900 rounded-2xl border-slate-900 px-[2vw] py-[.5vw] text-white h-fit text-2xl"
					>
						VENUS
					</div>
				</div>
			</button>
		</div>

		<div class="planet drop-shadow-2xl">
			<img
				src="/images/explore/ring-3.png"
				alt="Ring-3"
				class="absolute pointer-events-none"
				style:left="50%"
				style:translate="-50% -50%"
			/>

			<button
				id="earth"
				on:click={() => exploreTo('earth')}
				class="absolute duration-100 transition-all hover:scale-105 z-[999] group"
				style:left="50%"
				style:translate="-50% -50%"
				style:transform="translate(285px, 53px)"
			>
				<img src="/images/explore/earth.png" alt="earth" class="group-hover:scale-105" />
				<div
					class="scale-0 absolute left-1/2 -translate-x-1/2 top-full translate-y-1 group-hover:scale-100 duration-150 origin-top transition-all"
				>
					<div
						class="bg-opacity-75 backdrop-blur-sm border-4 bg-slate-900 rounded-2xl border-slate-900 px-[2vw] py-[.5vw] text-white h-fit text-2xl"
					>
						EARTH
					</div>
				</div>
			</button>

			<button
				id="moon"
				on:click={() => exploreTo('moon')}
				class="absolute duration-100 transition-all hover:scale-105 z-[999] group"
				style:left="50%"
				style:translate="-50% -50%"
				style:transform="translate(325px, -11px)"
			>
				<img src="/images/explore/moon.png" alt="moon" class="group-hover:scale-105" />
				<div
					class="scale-0 absolute left-1/2 -translate-x-1/2 top-full translate-y-1 group-hover:scale-100 duration-150 origin-top transition-all"
				>
					<div
						class="bg-opacity-75 backdrop-blur-sm border-4 bg-slate-900 rounded-2xl border-slate-900 px-[2vw] py-[.5vw] text-white h-fit text-2xl"
					>
						MOON
					</div>
				</div>
			</button>
		</div>

		<div class="planet drop-shadow-2xl z-[9999]">
			<img
				src="/images/explore/ring-4.png"
				alt="Ring-4"
				class="absolute pointer-events-none"
				style:left="50%"
				style:translate="-50% -50%"
			/>

			<button
				id="mars"
				on:click={() => exploreTo('mars')}
				class="absolute duration-100 transition-all hover:scale-105 z-[9999] group"
				style:left="50%"
				style:translate="-50% -50%"
				style:transform="translate(-271px, 242px)"
			>
				<img
					src="/images/explore/mars.png"
					alt="mars"
					class="group-hover:scale-105 relative z-[9999]"
				/>
				<div
					class="scale-0 absolute left-1/2 -translate-x-1/2 top-full translate-y-1 group-hover:scale-100 duration-150 origin-top transition-all"
				>
					<div
						class="bg-opacity-75 backdrop-blur-sm border-4 bg-slate-900 rounded-2xl border-slate-900 px-[2vw] py-[.5vw] text-white h-fit text-2xl"
					>
						MARS
					</div>
				</div>
			</button>
		</div>

		<div class="planet drop-shadow-2xl">
			<img
				src="/images/explore/ring-5.png"
				alt="Ring-5"
				class="absolute pointer-events-none"
				style:left="50%"
				style:translate="-50% -50%"
			/>

			<button
				id="jupiter"
				on:click={() => exploreTo('jupiter')}
				class="absolute duration-100 transition-all hover:scale-105 z-[9999] group"
				style:left="50%"
				style:translate="-50% -50%"
				style:transform="translate(381px, -242px)"
			>
				<img src="/images/explore/jupiter.png" alt="jupiter" class="group-hover:scale-105" />
				<div
					class="scale-0 absolute left-1/2 -translate-x-1/2 top-full translate-y-1 group-hover:scale-100 duration-150 origin-top transition-all"
				>
					<div
						class="bg-opacity-75 backdrop-blur-sm border-4 bg-slate-900 rounded-2xl border-slate-900 px-[2vw] py-[.5vw] text-white h-fit text-2xl"
					>
						JUPITER
					</div>
				</div>
			</button>
		</div>

		<div class="planet drop-shadow-2xl -z-[9999] isolate">
			<img
				src="/images/explore/ring-6.png"
				alt="Ring-6"
				class="absolute pointer-events-none"
				style:left="50%"
				style:translate="-50% -50%"
			/>

			<button
				id="saturn"
				on:click={() => exploreTo('saturn')}
				class="absolute duration-100 transition-all hover:scale-105 group"
				style:left="50%"
				style:translate="-50% -50%"
				style:transform="translate(-502px, 76px)"
			>
				<img src="/images/explore/saturn.png" alt="saturn" class="group-hover:scale-105 relative" />
				<div
					class="scale-0 absolute left-1/2 -translate-x-1/2 top-full translate-y-1 group-hover:scale-100 duration-150 origin-top transition-all"
				>
					<div
						class="bg-opacity-75 backdrop-blur-sm border-4 bg-slate-900 rounded-2xl border-slate-900 px-[2vw] py-[.5vw] text-white h-fit text-2xl"
					>
						SATURN
					</div>
				</div>
			</button>
		</div>

		<div class="planet drop-shadow-2xl">
			<img
				src="/images/explore/ring-7.png"
				alt="Ring-7"
				class="absolute pointer-events-none"
				style:left="50%"
				style:top="50%"
				style:translate="-50% -50%"
			/>

			<button
				id="uranus"
				on:click={() => exploreTo('uranus')}
				class="absolute duration-100 transition-all hover:scale-105 z-[9999] group"
				style:left="50%"
				style:translate="-50% -50%"
				style:transform="translate(543px, -90px)"
			>
				<img src="/images/explore/uranus.png" alt="uranus" class="group-hover:scale-105" />
				<div
					class="scale-0 absolute left-1/2 -translate-x-1/2 top-full translate-y-1 group-hover:scale-100 duration-150 origin-top transition-all"
				>
					<div
						class="bg-opacity-75 backdrop-blur-sm border-4 bg-slate-900 rounded-2xl border-slate-900 px-[2vw] py-[.5vw] text-white h-fit text-2xl"
					>
						URANUS
					</div>
				</div>
			</button>
		</div>

		<div class="planet drop-shadow-2xl">
			<img
				src="/images/explore/ring-8.png"
				alt="Ring-8"
				class="absolute pointer-events-none"
				style:left="50%"
				style:top="50%"
				style:translate="-50% -50%"
			/>

			<button
				id="neptune"
				on:click={() => exploreTo('neptune')}
				class="absolute duration-100 transition-all hover:scale-105 z-[9999] group"
				style:left="50%"
				style:translate="-50% -50%"
				style:transform="translate(-500px, 333px)"
			>
				<img src="/images/explore/neptune.png" alt="neptune" class="group-hover:scale-105" />
				<div
					class="scale-0 absolute left-1/2 -translate-x-1/2 top-full translate-y-1 group-hover:scale-100 duration-150 origin-top transition-all"
				>
					<div
						class="bg-opacity-75 backdrop-blur-sm border-4 bg-slate-900 rounded-2xl border-slate-900 px-[2vw] py-[.5vw] text-white h-fit text-2xl"
					>
						NEPTUNE
					</div>
				</div>
			</button>
		</div>

		<div class="planet drop-shadow-2xl">
			<div class="absolute" style:left="50%" style:top="50%" style:translate="-50% -50%">
				<button
					id="meteoroids"
					on:click={() => exploreTo('meteoroids')}
					class="absolute duration-100 transition-all hover:scale-105 z-[9999] group"
					style:left="50%"
					style:translate="-50% -50%"
					style:transform="translate(-526px, -317px)"
				>
					<div class="w-32 h-32">
						<img
							src="/images/meteoroids/comet.png"
							alt="meteor"
							class="group-hover:scale-105 -rotate-90"
						/>
					</div>
					<div
						class="scale-0 absolute left-1/2 -translate-x-1/2 top-full translate-y-1 group-hover:scale-100 duration-150 origin-top transition-all"
					>
						<div
							class="bg-opacity-75 backdrop-blur-sm border-4 bg-slate-900 rounded-2xl border-slate-900 px-[2vw] py-[.5vw] text-white h-fit text-2xl"
						>
							METEOROIDS
						</div>
					</div>
				</button>
			</div>
		</div>

		<img
			src="/images/explore/milky-way.jpg"
			class="w-screen h-screen object-cover absolute top-0 left-0 -z-10"
			alt="BG"
		/>
	</div>
</main>

<style>
	button {
		position: absolute;
	}
</style>
