<script>
	import * as motion from 'motion'
	import { goto } from '$app/navigation';
	import Meteoroid from '$lib/meteoroid.json';
	import { wait } from '$lib/utils';
	import { onMount } from 'svelte';

	onMount(() => {
		motion.animate(
			'.stuffs',
			{
				transform: ['translate(0, 0)', 'translate(0, -200vh)']
			},
			{
				duration: 2,
				easing: 'ease-in-out'
			}
		);
	});

	const goBack = async () => {
		motion.animate(
			'.stuffs',
			{
				transform: ['translate(0, -200vh)', 'translate(0, 0)']
			},
			{
				duration: 2,
				easing: 'ease-in-out'
			}
		)
		
		await wait(2000);

		goto('/explore?from=home');
	};
</script>

<svelte:head>
	<title>SONA | Meteoroids</title>
</svelte:head>
<div class="h-screen w-screen overflow-hidden bg-slate-900 relative">
	<div class="h-screen w-screen bg-slate-900 stuffs" />
	<div
		class="h-screen w-screen from-slate-900 to-black bg-gradient-to-b stuffs"
	/>
	<main class="h-screen w-screen relative stuffs" id="things">
		<button
			class=" absolute top-4 left-4 z-20 flex items-center gap-2 underline underline-offset-2 text-white"
			on:click={goBack}
		>
			<span>Back</span>
		</button>

		<div
			class="grid gap-16 grid-cols-2 max-w-screen-2xl mx-auto text-white relative z-10 place-items-center content-center h-full drop-shadow-md"
		>
			<div class="flex items-center gap-8">
				<div class="w-48 aspect-square flex-shrink-0">
					<img
						src="/images/meteoroids/comet.png"
						class="w-full h-full object-contain"
						alt="Comet"
					/>
				</div>
				<div>
					<h1 class="text-4xl">{Meteoroid.comet.name}</h1>
					<p class="mt-2 text-lg">{Meteoroid.comet.desc}</p>
				</div>
			</div>
			<div class="flex items-center gap-8">
				<div class="w-48 aspect-square flex-shrink-0">
					<img
						src="/images/meteoroids/meteor.png"
						class="w-full h-full object-contain"
						alt="Comet"
					/>
				</div>
				<div>
					<h1 class="text-4xl">{Meteoroid.meteor.name}</h1>
					<p class="mt-2 text-lg">{Meteoroid.meteor.desc}</p>
				</div>
			</div>
			<!-- 2 -->
			<div class="flex items-center gap-8">
				<div class="w-48 aspect-square flex-shrink-0">
					<img
						src="/images/meteoroids/asteroid.png"
						class="w-full h-full object-contain"
						alt="Comet"
					/>
				</div>
				<div>
					<h1 class="text-4xl">{Meteoroid.asteroid.name}</h1>
					<p class="mt-2 text-lg">{Meteoroid.asteroid.desc}</p>
				</div>
			</div>
			<div class="flex items-center gap-8">
				<div class="w-48 aspect-square flex-shrink-0">
					<img
						src="/images/meteoroids/fireball.png"
						class="w-full h-full object-contain"
						alt="fireball"
					/>
				</div>
				<div>
					<h1 class="text-4xl">{Meteoroid.fireball.name}</h1>
					<p class="mt-2 text-lg">{Meteoroid.fireball.desc}</p>
				</div>
			</div>
			<!-- 4 -->

			<div class="flex items-center gap-8">
				<div class="w-48 aspect-square flex-shrink-0">
					<img
						src="/images/meteoroids/meteoroid.png"
						class="w-full h-full object-contain"
						alt="meteoroid"
					/>
				</div>
				<div>
					<h1 class="text-4xl">{Meteoroid.meteoroid.name}</h1>
					<p class="mt-2 text-lg">{Meteoroid.meteoroid.desc}</p>
				</div>
			</div>
			<div class="flex items-center gap-8">
				<div class="w-48 aspect-square flex-shrink-0">
					<img
						src="/images/meteoroids/asteroid_bulet.png"
						class="w-full h-full object-contain"
						alt="meteorite"
					/>
				</div>
				<div>
					<h1 class="text-4xl">{Meteoroid.meteorite.name}</h1>
					<p class="mt-2 text-lg">{Meteoroid.meteorite.desc}</p>
				</div>
			</div>
		</div>

		<img
			src="/images/meteoroids/bg.jpg"
			alt="Background"
			class="absolute top-0 left-0 w-screen h-screen object-cover brightness-75 blur-sm"
		/>
	</main>
</div>
