<script>
  const MAX_DOT_COUNT = 3;
	let dotCount = 0;

	const interval = setInterval(() => {
		dotCount = (dotCount + 1) % (MAX_DOT_COUNT + 1);
	}, 125);
</script>

<div class="h-screen w-screen grid items-center text-center text-white">
  <div class="text-xl flex items-center justify-center">
    <span>Loading</span>
    {#each { length: MAX_DOT_COUNT } as _, index}
      <span style:opacity={dotCount - 1 > index ? '1' : '0'}>.</span>
    {/each}
  </div>
</div>